html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #202020;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}


.calculator {
  width: 280px;
  background-image: url("rengoku.jpg");
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat;    
  background-color: #2d2d2d;       
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px red;
}


#display 
{
  width: 90%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #1c1c1c;
  color: rgb(237, 92, 8);
}

.buttons 
{
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #4e4e4e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a71313;
}

button.zero {
  grid-column: span 2;
}

.title {
  text-align: center;
  color: rgb(224, 244, 8);
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.footer {
  bottom: 2px;   
  right: 1px;  
  text-align:center;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold; 
}

.ic
{
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #4e4e4e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  position: right;
}


